/* Removes white border around webpage */

body {
    margin: 0px;
    background-color: #0F2245;
    /*background-color: #002753;*/
    padding-top: 12rem;
    position: relative;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

#header {
    /*background-color: #0F2245;*/
    background-color: #002753;
    padding-bottom: 10px;
    width: 100%;
}

#navBar {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding-top: 4px;
}

#links {
    float: right;
    display: block;
}

a:hover {
    font-size: large;
    color: #CCCCCC;
}


/*#region HeaderImages*/

.header-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.header-img img {
    margin: -1250px 0 0 -400px;
    zoom: 50%;
}

.header-img h1 {
    color: white;
    position: absolute;
    /*top: 125px;*/
    top: 10%;
    text-align: center;
    font-size: 450%;
    width: 100%;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.large-txt {
    top: 50px;
    font-size: 400%;
}

.sub-header-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.sub-header-img h2 {
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

#our-product-header-img img {
    margin: -1750px 0 0 -400px;
    zoom: 50%;
}

#review-header-img img {
    margin: -1600px 0 0 -400px;
    zoom: 50%;
}

#faq-header-img img {
    margin: -1200px 0 0 -400px;
    zoom: 50%;
}

#write-review-header-img img {
    margin: -1300px 0 0 -400px;
    zoom: 50%;
}

#service-provider-header-img img {
    margin: -1800px 0 0 -535px;
    zoom: 50%;
}

#weather-header-img img {
    margin: -1500px 0 0 -400px;
    zoom: 50%;
}

#about-us-header-img img {
    margin: -1500px 0 0 -400px;
    zoom: 50%;
}

#contact-us-header-img img {
    margin: -1900px 0 0 -400px;
    zoom: 50%;
}


/*#endregion HeaderImages*/


/*#region OurProduct */

.content {
    width: 60%;
}

#about-product {
    overflow: hidden;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

#whatIsIt {
    margin-top: 100px;
}

#app-store-download {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#marExDesc {
    float: left;
}

#marExDesc h2 {
    text-align: center;
}

.home-screen {
    float: right;
    margin-top: 50px;
    margin-bottom: 100px;
    zoom: 75%;
}

#how-it-works h2 {
    text-align: center;
    width: 50%;
    margin: auto;
}

#how-it-works-imgs {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 100px;
    height: auto;
}

#how-it-works-imgs img {
    height: auto;
}

.selected-img {
    opacity: 1;
}

.unselected-img {
    opacity: .5;
}

.left-arrow {
    height: 500px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    zoom: 10%;
}

.right-arrow {
    height: 500px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    zoom: 10%;
    transform: scaleX(-1);
}

#how-it-works-txt {
    text-align: center;
    margin-bottom: 10%;
}

.selected-txt {
    display: inline;
}

.unselected-txt {
    display: none;
}

@media screen and (max-width: 1020px) {
    .selected-img {
        display: inline !important;
    }
    .unselected-img {
        display: none !important;
    }
    .content {
        width: 100%;
    }
    #marExDesc {
        float: none !important;
    }
    .home-screen {
        display: block;
        margin: auto;
        float: none !important;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}


/*#endregion OurProduct */


/*#region reviews*/

#ratings {
    display: flex;
    justify-content: space-between;
    margin: 75px;
}

.star-rating {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
}

.star-rating img {
    zoom: 5%;
    margin: auto;
}

.rating-detail {
    text-align: center;
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    #ratings {
        display: block;
        margin: 75px;
    }
    .star-rating {
        margin-top: 50px;
    }
}


/*#endregion reviews*/


/*#region faq*/

#faq-accordion {
    margin-top: 50px;
    margin-bottom: 50px;
}

button.accordion {
    background-color: #0F2245;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 150%;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
    background-color: #002753;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    opacity: 0;
    margin-bottom: 0px;
}

div.panel.show {
    opacity: 1;
    margin-top: 10px;
    max-height: 500px;
    font-size: 150%;
}


/*#endregion faq*/


/* NAVBAR STYLING */

.navbar {
    /*background-color: #0F2245;*/
    background-color: #002753;
    opacity: .95;
    height: 5rem;
    padding-top: 50px;
    border: 0px;
    outline: 0px;
    border-radius: 0px;
    font-size: 18px;
    color: rgb(28, 105, 103);
}

.navbar-brand> img {
    margin-top: -50px;
}

.navButtons> li> a {
    font-family: 'Roboto', sans-serif;
    color: rgb(28, 105, 103);
}

.navbar-brand,
.navbar-nav li a {
    line-height: 3rem;
    height: 3rem;
    padding-top: 0;
    color: white !important;
}

.navbar-brand {
    padding: 0px;
    /* firefox bug fix */
}

.navbar-brand>img {
    height: 10rem;
    padding: 15px;
    width: auto;
}

.navbar {
    padding-bottom: 7rem !important;
}


/* Customize navbar collapse colors */

.collapsing,
.in {
    background-color: #f7f7f7;
}

.collapsing ul li a,
.in ul li a {
    color: #555!important;
}

.collapsing ul li a:hover,
.in ul li a:hover {
    color: grey !important;
}


/*Collapse early to prevent row wrapping*/

@media (max-width: 1062px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
}


/*.left {*/


/*    position:absolute;*/


/*    left:0; top:583px; bottom: 0;*/


/*    width: 175px;*/


/*    background: #0F2245;*/


/*}*/


/*.right {*/


/*    position:absolute;*/


/*    right:0; top:583px; bottom: 0;*/


/*    float: right;*/


/*    width: 175px;*/


/*    background: #0F2245;*/


/*}*/

.mainBody {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#weather {
    text-align: center;
}

#liveForecastFrame {
    /*width: 75%;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    /*height: 10% !important;*/
}

#footer {
    background-color: white;
    text-align: center;
    height: 20rem;
}

#bannerHolder {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#bannerContainer {
    padding: 0px;
}

#footerContainer {
    padding: 0px;
}

#footer {
    padding-top: 0.5rem;
}

#questionButton {
    font-size: 2rem;
    background-color: #0F2245;
    color: white;
}

#review-form {
    font-family: 'Roboto', sans-serif;
    /*margin-left: 175px;*/
    margin-left: 10%;
    margin-bottom: 75px;
    margin-top: 30px;
}

.text-short {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #0F2245;
}

.radio-option {
    float: left;
    clear: none;
}

label {
    float: left;
    clear: none;
    display: block;
    padding: 2px 1em 0 0;
    font-size: 125%;
}

input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
}

#review-submit {
    border: 0;
    color: white;
    background: #002753;
    box-shadow: none;
    border-radius: 0px;
    width: 12em;
    height: 4em;
    font-size: larger;
    margin-top: 15px;
}

.text-long {
    width: 80%;
    border: 3px solid #0F2245;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    background: #D1B419;
}

#write-review-heading {
    text-align: center;
    margin-top: 100px;
}

#team-element {
    list-style: none;
}


/* From https://lipis.github.io/bootstrap-social/ */

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.btn-social:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #30487b;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
    background-image: none
}

.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-social.btn-lg {
    padding-left: 61px
}

.btn-social.btn-lg:first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em
}

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding-left: 0;
    padding-right: 0
}

.btn-social-icon:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social-icon.btn-lg {
    padding-left: 61px
}

.btn-social-icon.btn-lg:first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em
}

.btn-social-icon:first-child {
    border: none;
    text-align: center;
    width: 100% !important
}

.btn-social-icon.btn-lg {
    height: 45px;
    width: 45px;
    padding-left: 0;
    padding-right: 0
}


/* Active element color */

.navbar-default .navbar-nav> .active> a,
.navbar-default .navbar-nav> .active> a:hover,
.navbar-default .navbar-nav> .active> a:focus {
    /*background-color: #B27A00;*/
    background-color: #44C5DE;
    background: #44C5DE;
    border-radius: 0.5rem;
    /*background-color: #FFCD00;*/
    /*color: #002753 !important;*/
}

@media (max-width: 992px) {
    .navbar,
    nav {
        padding-bottom: 10rem !important;
    }
    body {
        padding-top: 15rem;
    }
}
