/* Removes white border around webpage */

body {
    margin: 0px;
    background-color: #0F2245;
    /*background-color: #002753;*/
    padding-top: 12rem;
    position: relative;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

#header {
    /*background-color: #0F2245;*/
    background-color: #002753;
    padding-bottom: 10px;
    width: 100%;
}

#navBar {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding-top: 4px;
}

#links {
    float: right;
    display: block;
}

a:hover {
    font-size: large;
    color: #CCCCCC;
}

.header-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.header-img img {
    margin: -1250px 0 0 -400px;
    zoom: 50%;
}

.header-img h1 {
    color: white;
    position: absolute;
    top: 150px;
    text-align: center;
    font-size: 350%;
    width: 100%;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.sub-header-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.sub-header-img img {
    margin: -1250px 0 0 -400px;
    zoom: 50%;
}

.sub-header-img h2 {
    color: white;
    position: absolute;
    top: 60px;
    text-align: center;
    font-size: 350%;
    width: 100%;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}


/* NAVBAR STYLING */

.navbar {
    background-color: #0F2245;
    /*background-color: #002753;*/
    opacity: .95;
    height: 5rem;
    padding-top: 50px;
    border: 0px;
    outline: 0px;
    border-radius: 0px;
    font-size: 18px;
    color: rgb(28, 105, 103);
}

.navbar-brand> img {
    margin-top: -50px;
}

.navButtons> li> a {
    font-family: 'Roboto', sans-serif;
    color: rgb(28, 105, 103);
}

.navbar-brand,
.navbar-nav li a {
    line-height: 3rem;
    height: 3rem;
    padding-top: 0;
    color: white !important;
}

.navbar-brand {
    padding: 0px;
    /* firefox bug fix */
}

.navbar-brand>img {
    height: 10rem;
    padding: 15px;
    width: auto;
}

.navbar {
    padding-bottom: 7rem !important;
}


/* Customize navbar collapse colors */

.collapsing,
.in {
    background-color: #f7f7f7;
}

.collapsing ul li a,
.in ul li a {
    color: #555!important;
}

.collapsing ul li a:hover,
.in ul li a:hover {
    color: grey !important;
}


/*.left {*/
/*    position:absolute;*/
/*    left:0; top:583px; bottom: 0;*/
/*    width: 175px;*/
/*    background: #0F2245;*/
/*}*/

/*.right {*/
/*    position:absolute;*/
/*    right:0; top:583px; bottom: 0;*/
/*    float: right;*/
/*    width: 175px;*/
/*    background: #0F2245;*/
/*}*/

.content {
    margin-left: 175px;
}

.mainBody {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#weather {
    text-align: center;
}

#liveForecastFrame {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    background-color: white;
    text-align: center;
    height: 20rem;
}

#bannerHolder {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#bannerContainer {
    padding: 0px;
}

#footerContainer {
    padding: 0px;
}

#footer {
    padding-top: 0.5rem;
}

#questionButton {
    font-size: 2rem;
    background-color: #0F2245;
    color: white;
}

#review-div {
	padding: 0px 100px 25px 100px;
	border-top: 2px solid #0F2245;
	border-bottom: 2px solid #0F2245;
}

#review-form {
	font-family: 'Roboto', sans-serif;
}

.text-short {
	width: 50%;
	padding 12px 20px;
	margin 8px 0;
	box-sizing: border-box;
	border: 3px solid #0F2245;
}

input[type="radio"] {
  margin-left : 28px;
  line-height  : 24px;
}

input[type="radio"] + label {
	display: inline-block;
}

.text-long {
	width: 50%;
	border: 3px solid #0F2245;
	padding 12px 20px;
	margin 8px 0;
	box-sizing: border-box;
}

input:focus, textarea:focus {
	background: #D1B419;
}



/* From https://lipis.github.io/bootstrap-social/ */

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.btn-social:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #30487b;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
    background-image: none
}

.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-social.btn-lg {
    padding-left: 61px
}

.btn-social.btn-lg:first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em
}

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding-left: 0;
    padding-right: 0
}

.btn-social-icon:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social-icon.btn-lg {
    padding-left: 61px
}

.btn-social-icon.btn-lg:first-child {
    line-height: 45px;
    width: 45px;
    font-size: 1.8em
}

.btn-social-icon:first-child {
    border: none;
    text-align: center;
    width: 100% !important
}

.btn-social-icon.btn-lg {
    height: 45px;
    width: 45px;
    padding-left: 0;
    padding-right: 0
}


/* Active element color */

.navbar-default .navbar-nav> .active> a,
.navbar-default .navbar-nav> .active> a:hover,
.navbar-default .navbar-nav> .active> a:focus {
    /*background-color: #B27A00;*/
    background-color: #44C5DE;
    background: #44C5DE;
    border-radius: 0.5rem;
    /*background-color: #FFCD00;*/
    /*color: #002753 !important;*/

}



#myCarousel {
    width: 60%;
    margin: auto;
    background-color: white;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 20%;
      margin: auto;
  }
  .carousel-caption {
      position: relative;
      left: auto;
    right: auto;
  }
  .carousel-caption h3 {
      color: black;
  }
  .carousel-caption p {
      color: #0F2245;
  }
  .carousel-control.left, .carousel-control.right {
    background-image: none;
    background-color: rgba(0,0,0,.3);

}

.vertCenter {
    position: absolute;
    top: 50%;
}